root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = false
insert_final_newline = false

[*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,json}]
trim_trailing_whitespace = true
insert_final_newline = true

[*.{[bB][aA][tT],[cC][mM][dD]}]
end_of_line = crlf
